*{        margin:0;        padding:0; }

body{
        background:#1d1b1bfb;
        color:#fff;
        font-size:18px;
        font-family: 'Exo 2', sans-serif;
}

h1{
        color:#eef0f2;        
    font-size: 30px;
    margin-bottom: 20px;
}

/*WRAPPER*/
#container{ 
        margin: 40px auto 0;        
        width:266px; 
        position:relative;
}

/*WHEEL*/
#roleta{
        width:250px;
        height:250px;
        border-radius:50%;        
        position:relative;
        overflow:hidden;
        border:8px solid rgb(45, 20, 186);
        box-shadow:rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
        transform: rotate(0deg);
}

#roleta:before{
        content:'';
        position:absolute;
        border:4px solid rgba(0,0,0,0.1);
        width:242px;
        height:242px;
        border-radius:50%;
        z-index:1000;        
}

#interno-roleta{
        width:100%;
        height:100%;
        transition: all 6s cubic-bezier(0,.99,.44,.99);        
}

#roleta div.sec{
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 130px 75px 0;
        border-color: #19c transparent;
        transform-origin: 75px 129px;
        left:50px;
        top:-4px;        
        opacity:1;
}

#roleta div.sec:nth-child(1){
        transform: rotate(60deg);
        border-color: #e60810 transparent;        
}
#roleta div.sec:nth-child(2){
        transform: rotate(120deg);
        border-color: #e6f607 transparent;        
}
#roleta div.sec:nth-child(3){
        transform: rotate(180deg);
        border-color: #22e708 transparent;        
}
#roleta div.sec:nth-child(4){
        transform: rotate(240deg);
        border-color: #2d2dea transparent;        
}
#roleta div.sec:nth-child(5){
        transform: rotate(300deg);
        border-color: #ee2a99 transparent;        
}
#roleta div.sec:nth-child(6){
        transform: rotate(360deg);
        border-color: #100f0e transparent;        
}


#roleta div.sec .texto{
        margin-top: -120px;
        color: rgba(244, 238, 238, 0.938);
        position: relative;
        z-index: 10000000;
        display: block;
        text-align: center;
    transform: rotate(70deg);
        font-size:18px;
        margin-left:-20px;
        text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

#spin{
        width:68px;
        height:68px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-34px 0 0 -34px;
        border-radius:50%;
        box-shadow:rgba(0,0,0,0.1) 0px 3px 0px;
        z-index:1000;
        background:#fff;
        cursor:pointer;
        font-family: 'Exo 2', sans-serif;
    user-select: none;   
}

#spin:after{
        content:"CLICK";        
        text-align:center;
        line-height:68px;
        color:rgb(37, 32, 32);
        text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0,0,0,0.3) ;
        position: relative;
        z-index: 100000;
        width:68px;
        height:68px;
        display:block;
}
#spin:before{
        content:"";
        position:absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 28px 20px;
        border-color: transparent transparent #ffffff transparent;
        top:-12px;
        left:14px;
}

#iterno-spin{
        width:54px;
        height:54px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-27px 0 0 -27px;
        border-radius:50%;
        z-index:999;
        box-shadow:rgba(255,255,255,1) 0px -2px 0px inset,
     rgba(255,255,255,1) 0px 2px 0px inset, 
     rgba(0,0,0,0.4) 0px 0px 5px ;
        background: rgb(255,255,255); /* Old browsers */
}


#spin:active #iterno-spin{
        box-shadow:rgba(0,0,0,0.4) 0px 0px 5px inset;
}

#spin:active:after{
        font-size:15px;        
}